.header {
    margin-top: 39px;
}
div {
    border: 1px solid black;
}
.row__logo {
    max-width: 41px;
    max-height: 41px;
    padding: 0;
}

.nav__link {
    color: #B8BECD;
    font-family: "Inter";
    font-size: 16px;
    text-decoration: none;
}
.nav__link:hover {
    color: #202336
}
.btn {
    width: 132px;
    height: 44px;
}
.btn-outline-warning {
    color: #FB8F1D;
    border-color: #FB8F1D;
}
.btn-outline-warning:hover {
    color: #fff;
    border-color: #FB8F1D;
    background-color: #FB8F1D;
}
.btn-primary {
    color: #fff;
    background-color: #FB8F1D;
    border-color: #FB8F1D;
}
.btn-primary:hover {
    color: #FB8F1D;
    background-color: #fff;
    border-color: #FB8F1D;
}
.BlockFirst {
    margin-top: 64px;
}
.BlockFirst__form {
    display: flex;
    justify-content: space-between;
}
/* .dropdown {
    width: 50%;
    margin: 0;
} */